:root {
  /* Colors */
  --color-highlight: hsl(0, 100%, 100%);
  --color-background: hsl(0, 0%, 0%);
  --color-fresh: rgb(0, 132, 176);
  --color-hope: rgb(0, 163, 86);
  --color-beboot: rgb(77, 77, 76);
}

/* Responsive font size */
html {
  font-size: 16px;
}

@media (min-width: 480px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 24px;
  }
}

@media (min-width: 1366px) {
  html {
    font-size: 28px;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 32px;
  }
}

/* Base Styling */

body {
  background: var(--color-background);
  color: var(--color-beboot);
  font-family: system-ui;
  margin: 0 auto;
  max-width: 60rem;
  padding: 0;
}

a {
  color: var(--color-fresh);
  text-decoration: none;
}

a:hover {
  color: var(--color-hope);
}

a:active {
  color: var(--color-highlight);
}

footer {
  font-size: 0.75rem;
  text-align: center;
}

footer > img {
  max-width: 15rem;
}

/* Shortcut List */

main {
  display: flex;
  flex-direction: column;
}

.shortcut {
  box-sizing: border-box;
  padding: 0.5rem;
  flex: 0 100%;
}

.shortcut > a {
  
  border: 0.2rem solid;
  border-image: linear-gradient(to left, var(--color-hope), var(--color-fresh));
  border-image-slice: 1;
  display: block;
  font-weight: bold;
  padding: 0.75rem 0.5rem;
  text-align: center;
}

.shortcut > a > .text {
  background: linear-gradient(to left, var(--color-hope), var(--color-fresh));
  background-clip: text;
  color: transparent;
}

.shortcut > a:active > .text,
.shortcut > a:hover > .text {
  color: var(--color-background);
}

.shortcut > a:hover {
  background: linear-gradient(to left, var(--color-hope), var(--color-fresh));
}

.shortcut > a:active > .text {
  color: var(--color-highlight);
}

@media (min-width: 30rem) {
  main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .shortcut {
    flex: 0 50%;
  }
}

@media (min-width: 45rem) {
  .shortcut {
    flex: 0 33%;
  }
}

@media (min-width: 60rem) {
  .shortcut {
    flex: 0 25%;
  }
}
