:root {
  /* Colors */
  --color-highlight: hsl(0, 100%, 100%);
  --color-background: hsl(320, 90%, 5%);
  --color-text: hsl(200, 90%, 55%);
  --color-link: hsl(90, 90%, 55%);
  --color-link-hover: hsl(90, 90%, 80%);
}

/* Responsive font size */
html {
  font-size: 16px;
}

@media (min-width: 480px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 24px;
  }
}

@media (min-width: 1366px) {
  html {
    font-size: 28px;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 32px;
  }
}

/* Base Styling */

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: system-ui;
  margin: 0 auto;
  max-width: 60rem;
  padding: 0;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  color: var(--color-link-hover);
}

a:active {
  color: var(--color-highlight);
}

footer {
  font-size: 0.75rem;
  text-align: center;
}

/* Shortcut List */

main {
  display: flex;
  flex-direction: column;
}

.shortcut {
  box-sizing: border-box;
  padding: 0.5rem;
  flex: 0 100%;
}

.shortcut > a {
  border: 0.2rem solid var(--color-link);
  display: block;
  font-weight: bold;
  padding: 0.75rem 0.5rem;
  text-align: center;
}

.shortcut > a:active,
.shortcut > a:hover {
  color: var(--color-background);
}

.shortcut > a:hover {
  background-color: var(--color-link-hover);
}

.shortcut > a:active {
  background-color: var(--color-highlight);
}

@media (min-width: 30rem) {
  main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .shortcut {
    flex: 0 50%;
  }
}

@media (min-width: 45rem) {
  .shortcut {
    flex: 0 33%;
  }
}

@media (min-width: 60rem) {
  .shortcut {
    flex: 0 25%;
  }
}
